{% extends "base.html" %}
{% block content %}

<h3 class="text-warning mb-4">
Withdraw Requests
</h3>

<table class="table table-dark table-striped">

<tr>
<th>Developer</th>
<th>Amount</th>
<th>Method</th>
<th>Details</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for r in requests %}

<tr>

<td>{{ r.user.name }}</td>

<td>₹{{ r.amount }}</td>

<td>{{ r.method }}</td>

<td>{{ r.details }}</td>

<td>

{% if r.status == "pending" %}

<span class="badge bg-warning text-dark">
Pending
</span>

{% elif r.status == "completed" %}

<span class="badge bg-success">
Completed
</span>

{% else %}

<span class="badge bg-danger">
Rejected
</span>

{% endif %}

</td>

<td>

{% if r.status == "pending" %}

<a href="{{ url_for('main.approve_withdraw', req_id=r.id) }}"
class="btn btn-success btn-sm">

Approve

</a>

<a href="{{ url_for('main.reject_withdraw', req_id=r.id) }}"
class="btn btn-danger btn-sm">

Reject

</a>

{% endif %}

</td>

</tr>

{% endfor %}

</table>

{% endblock %}